body{
    background-image: url(../img/fondo-espacio-forma-abstracta-estrellas_189033-30.png);
    background-size: 100% 100%;
    background-attachment: fixed;
 }
.imagenlogo img{
    width: 100%;
}
.imagenlogo{
    padding: 1%;
}

.productos-pc {
    display:flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
}

.productos-pc2 {
    display:flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
}
#icono-nav:hover{
    animation: icon linear 0.5s;
 }
 
 @keyframes icon{
    from{
       transform: rotate(360deg);
   }
   to{
       transform: rotate(0deg);
   }
 }