body{
    background-image: url(../img/fondonintendo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
 }
 .imagenlogo img{
    width: 100%;
}
.imagenlogo{
    padding: 1%;
}
.productos-nintendo {
    background-color:rgb(255, 147, 74);
    padding: 35px;
    display: flex;
    justify-content: space-around;
}


#icono-nav:hover{
    animation: icon linear 0.5s;
 }
 
 @keyframes icon{
    from{
       transform: rotate(360deg);
   }
   to{
       transform: rotate(0deg);
   }
 }