body{
    background-image: url(../img/fondoxbox.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
 }
 .imagenlogo img{
    width: 100%;
}
.imagenlogo{
    padding: 1%;
}
.productos-xbox {
    background-color: rgb(56, 56, 61);
    padding: 35px;
    display: flex;
    justify-content: space-around;
}

#icono-nav:hover{
    animation: icon linear 0.5s;
 }
 
 @keyframes icon{
    from{
       transform: rotate(360deg);
   }
   to{
       transform: rotate(0deg);
   }
 }